// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-avatar > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
}

.comment-author {
  color: #999;
}

.comment-form-container{
  height: 70px;
  padding: 30px;
  border-bottom: 1px solid #f2f2f2;
}

.comments-header{
  font-weight: 100;
  color: #999;
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.fa-comment{
  color: #999;
  padding-right: 5px;
}

.comment-body{
  padding-top: 4px;
}

.comment-content-left{
  display: flex;
}

.comment-time-ago{
   color: #999;
}
