

.comment-avatar > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  height: 50px;
}

.comment-author {
  color: #999;
}

.comment-form-container{
  height: 70px;
  border-bottom: 1px solid #d2d2d2;
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.comments-header{
  font-weight: 100;
  color: #999;
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
}

.fa-comment{
  color: #999;
  padding-right: 5px;
}

.comment-body{
  padding-top: 4px;
}

.comment-content-left{
  display: flex;
}

.comment-time-ago{
   color: #999;
}

.comment-form{
  box-sizing: border-box;
  padding: 5px;
  background: #f2f2f2;
  border: 1px solid #999;
  width: 100%;
  display: flex;
  align-items: center;
}

.comment-input{
  border-radius: 4px;
  height: 27px;
  font-size: 14px;
  width: 100%;
  border: 0px;
}

.comment-input:focus{
  outline: 0;
  width: 100%;
  border: 0px;
}


.comment-form-container img {
  height: 40px;
  width: 40px;
}
.comment-button{
  display: none;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.right-side .delete-button{
  display: none;
  border: 1px solid #999;
  border-radius: 6px;
  margin-top: 4px;
}

.delete-button > .fa-trash {
  padding: 6px 8px;
  border-radius: 4px;
}

.comment:hover .right-side .delete-button{
  display: block;
}

.right-side .delete-button:hover{
  border: 1px solid #353535;
  cursor: pointer;
}
