.home-index-item > img {
  height: 153px;
  width: 153px;
  padding-bottom: 10px;
}
.home-index-item > .play-button{
  opacity: 1;
  display: none;
  position: absolute;
  left: 34%;
  top: 24%;
  height: 50px;
  width: 50px;
}

.home-index-item > .play-button-show{
  opacity: 1;
  display: block;
  position: absolute;
  left: 34%;
  top: 24%;
  height: 50px;
  width: 50px;
  z-index: 0;
}

.home-index-item > .play-button > .fa-play{
  font-size: 1.5em;
  padding-left: 19px;
  padding-top: 12px;
}

.home-index-item > .play-button > .fa-pause{
  font-size: 1.5em;
  padding-left: 15.5px;
  padding-top: 13px;
}
.home-index-item:hover > .play-button{
  display: block;
  height: 50px;
  width: 50px;
}

.home-index-item{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 153px;
  margin: 0px 11px;
  padding-bottom: 10px;
}

.homepage-track-index {
  display: flex;
  flex-wrap: wrap;
  margin: 0 11px;
}

.homepage-track-index-container{
  display: flex;
  justify-content: center;
}


.home-index-title{
  font-size: 14px;
  color: black;
  cursor: pointer;
}

.home-index-artist{
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
