
.login-home-container{
  width: 1020px;
  background-color: white;
  margin: auto;
  height: 100vh;
}

.login-home-container > h2 {
  color: #f50;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #f50;
  padding-top: 30px;
  margin-left: 30px;
  width: 85px;
  font-weight: 400;
  font-size:24px;
}
