.modal-root{
  position: fixed;
  left: 0;
  right: 0;
  margin-left: inherit;
  display: flex;
  margin-right: auto;
  justify-content: center;
  height: 100%;
  z-index: 500;
  background-color: rgba(242,242,242,.9);
}

.modal-content-post{
  visibility: visible;
  display: block;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
  margin-top:8%;
  position: absolute;
  left: 50%;
  position: fixed;
  animation-duration: .3s;
  animation-name: slidein;
}

@keyframes slidein{
  from{
    margin-top: -40%;
  }
  to {
    margin-top: 8%;
  }
}
