.navbar{
  width: 100%;
  height: 46px;
  background-color: #333;
  position: fixed;
  z-index: 700;
}

.push-below-navbar{
  padding-top: 46px;
}

.navbar-container{
  width: 1080px;
  margin: 0 auto;
}

.navbar-content{
  display: flex;
  justify-content: space-between;

}
.navbar-home{
  font-size: 14px;
  color: white;
  width: 100px;
  height: 46px;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo{
  background-color: #F50;
  height: 46px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-logo > img {
  height: 50px;
}


.username{
  font-size: 14px;
  height: 46px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.username:hover{
  color: white;
  cursor: pointer;
}

.logout-navbar{
  margin-right: 10px;
  background-color: #f50;
  height: 30px;
  padding: 0 16px;
  color: white;
  line-height: 32px;
  text-align: center;
  border: 0;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 3px;
  box-sizing: border-box;
}
.logout-navbar:hover{
  cursor:pointer;
}
.logout-navbar:focus {outline: 0;}

.navbar-right{
  align-items: center;
  display: flex;
}
.user-link{
  margin-right: 15px;
}
.upload-link{
  font-size: 14px;
  color: #ccc;
  height: 46px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-link:hover{
  color: white;
  cursor: pointer;
}

.thumbnail-container{
  width: 26px;
  height: 26px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.thumbnail-container > img {
  display: inline;
  margin: 0 auto;
  background-color: #f50;
  height: 100%;
  width: auto;
}
.user{
  display: flex;
  align-items: center;
  height: 46px;
  justify-content: center;
  padding: 0 16px;
}
.user.hover{
  color: white;

}

.navbar-left{
  display: flex;
}

.user-link{
  margin-right: 15px;
  color: #ccc;
}

.navbar .active{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  pointer-events: none;
}
