.hide{
  height: 0px;
  transition: height .2s;
  visibility: hidden;
}

.footer{
  display: block;
  opacity: 1;
  transition: height .2s;

  visibility: visible;
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0,0,0,.15);
  z-index:600;
}



.footer-inner{
  width: 1080px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  position: relative;
}

.controls{
  display: flex;
  height: 100%;
  align-items: center;
  width: 100px;
  justify-content: space-around;
}

.footer-links{


}

audio {
  width: 100%;
}

.footer .fa-play, .footer .fa-pause {
  color: black;
  padding: 0;
  margin: 0;
}

.footer-info{
  display: flex;
  height: 30px;
  right: 0;
  position:absolute;
}

.footer-info-container{
  display: flex;
    position: relative;
    height: 100%;
    width: 200px;
    align-items: center;
}

.footer-links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between;
}

.footer-title{
    font-size: 11px;
    color: #666;
}
.footer-title:hover{
  color:#333;
}

.footer-artist{
    font-size: 11px;
    color: #999;
}
.footer-artist:hover{
  color: #333;
}

.footer-image > a > img{
  height:30px;
  width:30px;
  margin-right: 10px;
}



progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
   width: 512px;
   height: 1px;
}

progress[value]::-webkit-progress-bar {
  border-radius: 1px;
  height: 1px;
  background-color: #ccc
}

progress[value]::-webkit-progress-value {
  background-color: #f50;
  height: 1px;
}

.progress{
  height: 100%;
  display: flex;
  width: 600px;
  margin: auto;
  align-items: center;
  padding: 0 20px;
}

#seek-obj-container{
  margin: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.current-time{
  color: #f50;
  text-align: right;
  font-size: 11px;
  padding-top: 2px;
  width: 40px;
}
.end-time{
  color: #333;
  text-align: right;
  font-size: 11px;
  padding-top: 2px;
  width: 40px;
}

progress{

}
