body, li, ul, div, a, p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Interstate-Light", "Interstate", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: lighter;
}

body{
  background-color: #f2f2f2;
}
