

.track-image {
  width: 340px;
}

.track-image > img {
  width: 340px;
}

.track-show-header {
    justify-content: space-between;
    height: 380px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    height: 340px;
    background-image: url(https://ak6.picdn.net/shutterstock/videos/5501012/thumb/1.jpg?i10c);
}



.track-show-button > .play-button {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.track-show-button > .play-button > .fa-play {
  font-size: 1.7em;
  padding-left: 24px;
  padding-top: 17px;
}

.track-show-button > .play-button > .fa-pause {
  font-size: 1.7em;
  padding-top: 17px;
  padding-left: 19.5px;
}

.track-artist-name{
  background-color: black;
  color: white;
}

.track-artist-name > a{
  color: #ccc;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.2;
}
.track-show-header-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.track-name{
  background-color: black;
  font-size: 24px;
  line-height: 37px;
  color: white;
}

.track-name, .track-artist-name{
  margin: 2px;
  padding: 5px;
}

.play-and-info{
  display: flex;
}
.show-track-waveform{

}
.show-track-waveform > img {
  width: 537px;
  padding-left: 11%;

}
