
.TrackFeed{
  padding-top: 30px;
  padding-bottom: 70px;
}
.track-body{
  margin: 0 20px 20px 20px;
  height: 168px;
  display: flex;
}

.track-feed-item{
  margin-bottom: 10px;
}
.track-body > .track-image{
  width: 167px;
}

.track-content{
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.track-waveform{
  margin-top: 30px;
}

.track-header{
  display: flex;
  z-index: 4;
}

.track-metadata{
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.track-artist > a {
  color: #999;
  font-size: 12px;
  line-height: 16px;
}

.track-title > a{
  font-size: 15px;
  line-height: 1.2;
  color: #333;
}

.play-button{
  opacity: 0.9;
  background-color: #f50;
  border-radius: 50%;
  height: 36px;
  z-index: 1;
  width: 36px;
  transition: opacity, .3s;
  display: flex;
}

.play-button:hover{
  opacity: 1;
  cursor: pointer;
}

.fa-ellipsis-h:focus{
  color: #f50;
}

.options{
  align-self: flex-start;
}

.fa-ellipsis-h{
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 2px 6px 1px 7px;
}

.fa-ellipsis-h:hover{
  border: 1px solid #333;
  border-radius: 3px;
  padding: 2px 6px 1px 7px;
}


.dropdown{
  width: 30px;
  position: relative;
  display: inline-block;
  z-index:20;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  cursor: pointer;
}

.dropdown-content > ul > li > a {
  color: black;
}

.dropdown-content > ul > li {
  padding: 5px;
  padding-right: 10px;
  border: 1px solid #e5e5e5;
}
.dropdown-content > ul > li:hover {
  background-color: #e5e5e5;
}

.dropdown-content > ul > li > a > i {
  padding-right: 10px;
  padding-left: 5px;
}

.dropdown-content > ul > li > i {
  padding-right: 10px;
  padding-left: 5px;
}

ul > .track-body:last-child{
  margin-bottom: 150px;
}

.wave{
  height:81px;
  width: 450px;
}

.fa-pause, .fa-play{
  color: white;
}

.fa-play{
  padding-left: 14px;
  padding-top: 10px;
}

.fa-pause{
  padding-top: 10.5px;
  padding-left: 11.5px;
}

.track-index-item-header-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.track-index-item-header {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #999;
  margin-bottom: 10px;
}

.track-index-item-header a {
  padding: 0 5px;
  color: black;
}

.track-feed-item {
  padding: 5px;
  border:
}

.options-bar {
  display: flex;
}

.like-button > .fa-heart{
  padding: 4px 7px 3px 8px;
  margin-right: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: .7em;
}

.like-button > .fa-heart:hover {
  border: 1px solid #333;
}

.liked-button > .fa-heart {
  padding: 4px 7px 3px 8px;
  margin-right: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: .7em;
  color: #f50;
}

.liked-button > .fa-heart:hover {
  border: 1px solid #f50;
}
